body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #000;
    margin: 0;
}
.subscribe-container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 90%;
    width: 400px; 
}
.subscribe-container img {
    width: 50px; 
    margin-bottom: 15px;
}
.subscribe-container h1 {
    color: #000;
    margin-bottom: 15px;
    font-size: 24px; 
}
.subscribe-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.subscribe-container input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-top: none;
    border-right: none;
    border-left: none;
    font-size: 16px;
}
.subscribe-container button {
    width: 100%;
    padding: 10px;
    background-color: #dffe00;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
}
.subscribe-container button:hover {
    background-color: #c4d400;
}
.footer-container {
    width: 100%;
    text-align: center;
}

.footer {
    font-size: 12px;
    color: #777;
    margin-top: 20px;
}

/* Estilos para pantallas de celular */
@media (max-width: 600px) {
    .subscribe-container {
        padding: 15px; 
    }
    .subscribe-container h1 {
        font-size: 20px; 
    }
    .subscribe-container input[type="email"],
    .subscribe-container button {
        font-size: 14px; 
    }
}