body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    background-color: #000;
}
.message {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 1000px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 90%; 
    width: 400px; 
}
.message h1 {
    color: #00b300;
    margin-bottom: 20px;
    font-size: 24px; 
}
.message p {
    font-size: 16px; 
}
.message button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #dffe00;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}
.message button:hover {
    background-color: #c4d400;
}

/* Estilos para pantallas de celular */
@media (max-width: 600px) {
    .message {
        padding: 15px; 
        font-size: 14px; 
    }
    .message h1 {
        font-size: 20px; 
    }
    .message button {
        font-size: 14px; 
    }
}
