body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
.message {
    text-align: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.message h1 {
    color: #00b300;
    margin-bottom: 20px;
}
.message button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #dffe00;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}
.message button:hover {
    background-color: #c4d400;
}
